.input, .input-label, .input-field {
    width: 100%;
}

.input {
    margin: var(--spacing) 0;
}

.input-label {
    font: var(--font-title);
    color: var(--black);
}

.input-field {
    border: none;
    font: var(--font-text);
    background-color: transparent;
    border-bottom: var(--border) var(--red);
    transition: border-bottom var(--animation-time);
}

.input-field:focus {
    outline: none;
    border-bottom: var(--border) var(--dark-red);
}

.input-error {
    font: var(--font-title);
    color: var(--red);
    transition: var(--animation-time);
}